/* ----------------- Libraries
----------------------------------------------------------------------- */
/* ----------------- Reset
----------------------------------------------------------------------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* ----------------- Variables
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- Mixins style
----------------------------------------------------------------------- */
/* @import "sprites.png";
@mixin sprite-css($name) {
    @include sprites-sprite($name);
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);
    display: inline-block;
} */
/*----------  vertical align
------------------------------------------------------------------------------*/
/* @mixin vertical-align {
    position: relative;
    top: 50%;
    @include translate(0, -50%);
} */
/*----------  Text Overflow
------------------------------------------------------------------------------*/
/*---------- horizontal align
------------------------------------------------------------------------------*/
/* @mixin horizontal-align {
    position: relative;
    left: 50%;
    @include translate(-50%, 0);
} */
/*----------  box-sizing
------------------------------------------------------------------------------*/
/*----------  appearance
------------------------------------------------------------------------------*/
/* ----------------- Media queris
----------------------------------------------------------------------- */
/* ----------------- next mixin
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- IE
----------------------------------------------------------------------- */
/* ----------------- Base
----------------------------------------------------------------------- */
/* ----------------- layout 
----------------------------------------------------------------------- */
.wrapper {
  max-width: 1400px;
  margin: 0 auto; }

.content-wrapper {
  max-width: 1064px;
  margin: 0 auto; }

/* ----------------- Typography
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- buttons
----------------------------------------------------------------------- */
/* ----------------- Forms
----------------------------------------------------------------------- */
/* ----------------- Icons
----------------------------------------------------------------------- */
.icon {
  display: inline-block;
  width: 3em;
  height: 3em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

/* Generated by http://css.spritegen.com CSS Sprite Generator */
.vega-iconamex, .vega-iconv, .vega-iconmc, .vega-iconx, .vega-iconchecked,
.vega-iconflag-of-the-united-kingdom, .vega-iconinstagram, .vega-icontwitter, .vega-iconarrowslider, .vega-iconpaypal,
.vega-iconiconmonstr-facebook-1, .vega-iconarrowright, .vega-iconarrowwhiteright {
  display: inline-block;
  background: url("../../img/png_sprites.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.vega-iconamex {
  background-position: -0px -0px;
  width: 42px;
  height: 12px; }

.vega-iconv {
  background-position: -0px -12px;
  width: 41px;
  height: 13px; }

.vega-iconmc {
  background-position: -0px -25px;
  width: 38px;
  height: 29px; }

.vega-iconx {
  background-position: -0px -54px;
  width: 28px;
  height: 29px; }

.vega-iconchecked {
  background-position: -0px -83px;
  width: 27px;
  height: 22px; }

.vega-iconflag-of-the-united-kingdom {
  background-position: -0px -105px;
  width: 24px;
  height: 12px; }

.vega-iconinstagram {
  background-position: -0px -117px;
  width: 24px;
  height: 24px; }

.vega-icontwitter {
  background-position: -0px -141px;
  width: 24px;
  height: 20px; }

.vega-iconarrowslider {
  background-position: -0px -161px;
  width: 23px;
  height: 16px; }

.vega-iconpaypal {
  background-position: -0px -177px;
  width: 22px;
  height: 25px; }

.vega-iconiconmonstr-facebook-1 {
  background-position: -28px -54px;
  width: 12px;
  height: 24px; }

.vega-iconarrowright {
  background-position: -28px -78px;
  width: 10px;
  height: 16px; }

.vega-iconarrowwhiteright {
  background-position: -27px -94px;
  width: 10px;
  height: 16px; }

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
.vega-iconellipse-bg, .vega-iconamex, .vega-iconv, .vega-iconmc, .vega-iconx,
.vega-iconchecked, .vega-iconflag-of-the-united-kingdom, .vega-iconinstagram, .vega-icontwitter, .vega-iconarrowslider,
.vega-iconpaypal, .vega-iconiconmonstr-facebook-1, .vega-iconarrowright, .vega-iconarrowwhiteright {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../../img/png_sprites2.png"); }

.vega-iconellipse-bg {
  background-position: 0 0%;
  background-size: 100%; }

.vega-iconamex {
  background-position: 0 26.370757%;
  background-size: 230.952381%; }

.vega-iconv {
  background-position: 0 30.366492%;
  background-size: 236.585366%; }

.vega-iconmc {
  background-position: 0 36.065574%;
  background-size: 255.263158%; }

.vega-iconx {
  background-position: 0 44.808743%;
  background-size: 346.428571%; }

.vega-iconchecked {
  background-position: 0 52.546917%;
  background-size: 359.259259%; }

.vega-iconflag-of-the-united-kingdom {
  background-position: 0 57.70235%;
  background-size: 404.166667%; }

.vega-iconinstagram {
  background-position: 0 63.61186%;
  background-size: 404.166667%; }

.vega-icontwitter {
  background-position: 0 70.133333%;
  background-size: 404.166667%; }

.vega-iconarrowslider {
  background-position: 0 75.461741%;
  background-size: 421.73913%; }

.vega-iconpaypal {
  background-position: 0 82.432432%;
  background-size: 440.909091%; }

.vega-iconiconmonstr-facebook-1 {
  background-position: 0 89.757412%;
  background-size: 808.333333%; }

.vega-iconarrowright {
  background-position: 0 94.986807%;
  background-size: 970%; }

.vega-iconarrowwhiteright {
  background-position: 0 100%;
  background-size: 970%; }

/* ----------------- Partials
----------------------------------------------------------------------- */
/* ----------------- footer
----------------------------------------------------------------------- */
/* ----------------- header
----------------------------------------------------------------------- */
/* ----------------- scss main
----------------------------------------------------------------------- */
body, html {
  font-family: sans-serif; }

header.header {
  background-color: #fff; }

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.header_left {
  display: flex;
  align-items: center;
  padding: 10px; }

.header_right {
  align-items: center;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  flex: auto; }
  .header_right .nav {
    padding: 10px; }
    .header_right .nav ul {
      display: flex; }
      .header_right .nav ul a {
        display: block;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        color: #32aeef; }
  .header_right ul {
    display: flex;
    align-items: center;
    padding: 0 10px 0 0; }
    .header_right ul a {
      display: flex;
      align-items: center;
      padding: 16px 16px 16px 0;
      text-decoration: none;
      color: #222; }
      .header_right ul a span {
        padding: 0 0 0 10px; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header_right {
    justify-content: flex-end;
    flex: none;
    flex-direction: column-reverse; } }

.slider-hero {
  position: relative; }
  .slider-hero #slider {
    position: relative;
    width: 100%;
    height: 550px; }
    .slider-hero #slider .slide {
      position: absolute;
      height: 100%;
      width: 100%;
      display: none; }
      .slider-hero #slider .slide img {
        width: 100%;
        max-height: 550px; }
    .slider-hero #slider .slide.active {
      display: block; }
  .slider-hero .wrapper.slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .slider-hero .wrapper.slider-wrapper .slider-hero_box {
      padding: 15px;
      margin-left: 50px;
      color: #fff; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_box h1 {
        font-size: 50px;
        padding-bottom: 25px; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_box p {
        font-size: 24px;
        padding-bottom: 25px; }
        .slider-hero .wrapper.slider-wrapper .slider-hero_box p sup {
          font-size: 13px; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_box button {
        padding: 15px 20px;
        outline: none;
        border: none;
        background-color: #002f9d;
        color: #fff;
        font-weight: bold;
        font-size: 24px; }
    .slider-hero .wrapper.slider-wrapper .slider-hero_arrows {
      display: flex;
      align-items: center;
      padding: 10px; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_arrows #left-arrow,
      .slider-hero .wrapper.slider-wrapper .slider-hero_arrows #right-arrow {
        padding: 15px;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_arrows #left-arrow .vega-iconarrowslider_rotate {
        transform: rotate(180deg); }
      .slider-hero .wrapper.slider-wrapper .slider-hero_arrows #right-arrow {
        margin-left: 10px; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .slider-hero #slider {
    position: relative;
    width: 100%;
    height: 450px; }
    .slider-hero #slider .slide img {
      width: 100%;
      height: 100%; }
  .slider-hero .slider-hero_arrows {
    align-self: flex-end;
    padding: 10px; }
  .slider-hero .wrapper.slider-wrapper .slider-hero_box h1 {
    font-size: 25px; } }

.usp-box {
  background-color: #fff;
  padding: 60px 0; }

.usp-box_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .usp-box_top h3 {
    font-size: 20px;
    color: #bdbdbd;
    padding-bottom: 20px;
    text-transform: uppercase; }
  .usp-box_top h1 {
    font-size: 40px;
    color: #002f9d;
    padding-bottom: 20px; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .usp-box_top h1 {
    text-align: center; } }

.usp-flex_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.box {
  flex: 0 0 40%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 10px;
  margin: 10px; }
  .box .box-svg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    .box .box-svg .icon-cabin,
    .box .box-svg .icon-seat,
    .box .box-svg .icon-smile,
    .box .box-svg .icon-shoe {
      fill: #002f9d;
      stroke: #002f9d; }
    .box .box-svg .icon-cabin,
    .box .box-svg .icon-shoe,
    .box .box-svg .icon-seat {
      fill: #fff; }
    .box .box-svg .bg-ellipse {
      position: absolute;
      top: 0; }
  .box .box-text {
    padding-left: 30px; }
    .box .box-text h4 {
      color: #000;
      font-size: 20px;
      padding-bottom: 20px; }
    .box .box-text p {
      color: #222; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .usp-flex_wrapper {
    flex-direction: column; } }

.offers-box {
  display: flex;
  flex-direction: column;
  background-color: #002f9d;
  padding: 64px 0; }
  .offers-box h4 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 30px; }

.offers-box_gallery {
  display: flex;
  flex-flow: row wrap; }
  .offers-box_gallery .box_gallery {
    flex: calc(25% - 60px);
    background-color: #fff;
    margin-right: 15px;
    display: flex;
    flex-direction: column; }
    .offers-box_gallery .box_gallery .box_gallery-img {
      display: flex;
      height: 50%;
      position: relative;
      z-index: 2; }
      .offers-box_gallery .box_gallery .box_gallery-img img {
        width: 100%;
        height: auto; }
      .offers-box_gallery .box_gallery .box_gallery-img .box-ribbon {
        position: absolute;
        background: #ffed28;
        padding: 5px;
        top: 10px;
        left: -20px;
        z-index: 3;
        color: #31528c;
        font-size: 20px; }
        .offers-box_gallery .box_gallery .box_gallery-img .box-ribbon::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          border-bottom: solid 15px transparent;
          border-right: solid 20px #ffed28; }
    .offers-box_gallery .box_gallery .box_gallery-text {
      padding: 20px;
      font-size: 20px; }
      .offers-box_gallery .box_gallery .box_gallery-text h3 {
        color: #002f9d;
        padding-bottom: 10px; }
      .offers-box_gallery .box_gallery .box_gallery-text p {
        color: #bdbdbd;
        padding-bottom: 10px; }
      .offers-box_gallery .box_gallery .box_gallery-text a {
        text-decoration: none;
        display: flex;
        color: #002f9d;
        align-items: center; }
        .offers-box_gallery .box_gallery .box_gallery-text a span {
          padding-right: 10px; }

.inspiration {
  background-color: #fff;
  padding: 55px 0;
  display: flex;
  font-size: 20px;
  color: #002f9d; }
  .inspiration h3 strong {
    font-weight: 600;
    background-image: linear-gradient(to right, #002f9d 80%, rgba(49, 17, 190, 0) 0%);
    background-position: bottom;
    background-size: 43px 3px;
    background-repeat: repeat-x;
    padding: 0 0 10px 0; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .offers-box_gallery {
    flex-direction: column; } }

.classes-box {
  background-color: #021f59;
  padding: 15px 0;
  color: #fff; }

.classes-box_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .classes-box_top h3 {
    font-size: 16px;
    color: #e4e6ea;
    padding: 0 0 15px 0; }
  .classes-box_top h1 {
    font-size: 50px;
    color: #38bdff;
    padding: 0 0 20px 0; }
  .classes-box_top p {
    font-size: 20px;
    color: #fff;
    padding: 0 0 30px 0; }

.classes-box_services {
  color: #fff;
  display: flex;
  flex-flow: column wrap; }
  .classes-box_services a {
    display: block;
    align-self: flex-end;
    color: #32aeef;
    padding: 15px 0; }
    .classes-box_services a strong {
      font-weight: 600;
      background-image: linear-gradient(to right, #021f59 50%, #38bdff 0%);
      background-position: bottom;
      background-size: 34px 2px;
      background-repeat: repeat-x;
      padding: 0 0 10px 0; }
  .classes-box_services .service-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    background: #fff; }
    .classes-box_services .service-content .service-box {
      flex: 32%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: end; }
      .classes-box_services .service-content .service-box ul.service-box_flex {
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
        flex-direction: column; }
      .classes-box_services .service-content .service-box .service-box_active {
        color: #002f9d;
        background-color: #fff;
        width: 100%;
        text-align: center;
        border-top: 3px solid #32aeef;
        padding: 10px; }
      .classes-box_services .service-content .service-box h2 {
        padding: 10px;
        background-color: #f5f5f5;
        width: 100%; }
      .classes-box_services .service-content .service-box li a {
        display: flex;
        justify-content: center; }
        .classes-box_services .service-content .service-box li a img {
          width: 45%;
          border-radius: 50%;
          height: 150px; }
        .classes-box_services .service-content .service-box li a span,
        .classes-box_services .service-content .service-box li a p {
          padding-left: 10px; }
      .classes-box_services .service-content .service-box a {
        display: flex;
        justify-content: center;
        align-items: center; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .classes-box_services a {
    align-self: center; }
  .classes-box_services .service-content {
    flex-direction: column; }
    .classes-box_services .service-content .service-box {
      width: 100%; }
      .classes-box_services .service-content .service-box ul li a img {
        height: 240px; } }

.footer_flex {
  background-color: #002f9d; }

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; }
  .footer-top .footer-top_left {
    display: flex;
    align-items: center; }
    .footer-top .footer-top_left p {
      padding: 10px;
      color: #fff; }
  .footer-top .footer-top_right {
    display: flex;
    align-items: center;
    color: #fff; }
    .footer-top .footer-top_right ul {
      padding: 5px;
      display: flex;
      align-items: center; }
      .footer-top .footer-top_right ul a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 55px;
        margin: 5px;
        border: 1px solid #bdbdbd; }
        .footer-top .footer-top_right ul a img {
          max-width: 100%;
          height: auto; }

.input-box {
  background: #002f9d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff; }
  .input-box input[type="email"] {
    padding: 10px 10px 10px 0;
    border: none;
    outline: none;
    background-color: #002f9d; }
  .input-box a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff; }
    .input-box a span {
      padding-right: 10px; }

.footer-bottom_content {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-bottom_content ul {
    display: flex;
    align-items: center; }
    .footer-bottom_content ul a {
      display: block;
      padding: 10px 10px 10px 0; }
      .footer-bottom_content ul a img {
        max-width: 100%; }
  .footer-bottom_content .footer-bottom_right {
    display: flex; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer-top {
    flex-direction: column; }
  .footer-bottom_content {
    flex-direction: column; } }
