/* ----------------- Libraries
----------------------------------------------------------------------- */
/* ----------------- Reset
----------------------------------------------------------------------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* ----------------- Variables
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- Mixins style
----------------------------------------------------------------------- */
/* @import "sprites.png";
@mixin sprite-css($name) {
    @include sprites-sprite($name);
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);
    display: inline-block;
} */
/*----------  vertical align
------------------------------------------------------------------------------*/
/* @mixin vertical-align {
    position: relative;
    top: 50%;
    @include translate(0, -50%);
} */
/*----------  Text Overflow
------------------------------------------------------------------------------*/
/*---------- horizontal align
------------------------------------------------------------------------------*/
/* @mixin horizontal-align {
    position: relative;
    left: 50%;
    @include translate(-50%, 0);
} */
/*----------  box-sizing
------------------------------------------------------------------------------*/
/*----------  appearance
------------------------------------------------------------------------------*/
/* ----------------- Media queris
----------------------------------------------------------------------- */
/* ----------------- next mixin
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- IE
----------------------------------------------------------------------- */
/* ----------------- Base
----------------------------------------------------------------------- */
/* ----------------- layout 
----------------------------------------------------------------------- */
.wrapper {
  max-width: 1400px;
  margin: 0 auto; }

.content-wrapper {
  max-width: 1064px;
  margin: 0 auto; }

/* ----------------- Typography
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- buttons
----------------------------------------------------------------------- */
/* ----------------- Forms
----------------------------------------------------------------------- */
/* ----------------- Icons
----------------------------------------------------------------------- */
.icon {
  display: inline-block;
  width: 3em;
  height: 3em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
.vega-ellipse-bg, .vega-amex-m, .vega-visa-m, .vega-mc-m, .vega-amex-t,
.vega-visa-t, .vega-mc-t, .vega-flag-of-the-united-kingdom-m, .vega-instagram-m, .vega-twitter-m,
.vega-paypal-m, .vega-amex, .vega-v, .vega-mc, .vega-paypal-t,
.vega-x, .vega-checked, .vega-x-m, .vega-flag-of-the-united-kingdom, .vega-fb-m,
.vega-instagram-t, .vega-instagram, .vega-twitter-t, .vega-twitter, .vega-arrowslider,
.vega-paypal, .vega-fb-t, .vega-iconmonstr-facebook-1, .vega-arrowright, .vega-arrowwhiteright {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../../img/png_sprites2.png"); }

.vega-ellipse-bg {
  background-position: 0 0%;
  background-size: 100%; }

.vega-amex-m {
  background-position: 0 10.559662%;
  background-size: 115.47619%; }

.vega-visa-m {
  background-position: 0 13.333333%;
  background-size: 118.292683%; }

.vega-mc-m {
  background-position: 0 16.86747%;
  background-size: 127.631579%; }

.vega-amex-t {
  background-position: 0 22.455404%;
  background-size: 151.5625%; }

.vega-visa-t {
  background-position: 0 24.605678%;
  background-size: 156.451613%; }

.vega-mc-t {
  background-position: 0 27.615965%;
  background-size: 170.175439%; }

.vega-flag-of-the-united-kingdom-m {
  background-position: 0 31.89018%;
  background-size: 202.083333%; }

.vega-instagram-m {
  background-position: 0 35.536295%;
  background-size: 202.083333%; }

.vega-twitter-m {
  background-position: 0 40.601504%;
  background-size: 202.083333%; }

.vega-paypal-m {
  background-position: 0 45.602606%;
  background-size: 220.454545%; }

.vega-amex {
  background-position: 0 49.217935%;
  background-size: 230.952381%; }

.vega-v {
  background-position: 0 50.730689%;
  background-size: 236.585366%; }

.vega-mc {
  background-position: 0 53.184713%;
  background-size: 255.263158%; }

.vega-paypal-t {
  background-position: 0 57.020364%;
  background-size: 293.939394%; }

.vega-x {
  background-position: 0 60.721868%;
  background-size: 346.428571%; }

.vega-checked {
  background-position: 0 63.540569%;
  background-size: 359.259259%; }

.vega-x-m {
  background-position: 0 68.152174%;
  background-size: 388%; }

.vega-flag-of-the-united-kingdom {
  background-position: 0 70.907195%;
  background-size: 404.166667%; }

.vega-fb-m {
  background-position: 0 75.189599%;
  background-size: 404.166667%; }

.vega-instagram-t {
  background-position: 0 78.563886%;
  background-size: 404.166667%; }

.vega-instagram {
  background-position: 0 81.309398%;
  background-size: 404.166667%; }

.vega-twitter-t {
  background-position: 0 83.701367%;
  background-size: 404.166667%; }

.vega-twitter {
  background-position: 0 86.014721%;
  background-size: 404.166667%; }

.vega-arrowslider {
  background-position: 0 87.958115%;
  background-size: 421.73913%; }

.vega-paypal {
  background-position: 0 90.697674%;
  background-size: 440.909091%; }

.vega-fb-t {
  background-position: 0 93.45301%;
  background-size: 808.333333%; }

.vega-iconmonstr-facebook-1 {
  background-position: 0 96.198522%;
  background-size: 808.333333%; }

.vega-arrowright {
  background-position: 0 98.115183%;
  background-size: 970%; }

.vega-arrowwhiteright {
  background-position: 0 100%;
  background-size: 970%; }

/* ----------------- Partials
----------------------------------------------------------------------- */
/* ----------------- footer
----------------------------------------------------------------------- */
/* ----------------- header
----------------------------------------------------------------------- */
/* ----------------- scss main
----------------------------------------------------------------------- */
body, html {
  font-family: sans-serif; }

header.header {
  background-color: #fff; }

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.header_left {
  display: flex;
  align-items: center;
  padding: 10px; }

.header_right {
  align-items: center;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  flex: auto; }
  .header_right .nav {
    padding: 10px; }
    .header_right .nav ul {
      display: flex; }
      .header_right .nav ul a {
        display: block;
        padding: 10px;
        text-decoration: none;
        font-size: 16px;
        color: #32aeef; }
  .header_right ul {
    display: flex;
    align-items: center;
    padding: 0 10px 0 0; }
    .header_right ul a {
      display: flex;
      align-items: center;
      padding: 16px 16px 16px 0;
      text-decoration: none;
      color: #222; }
      .header_right ul a span {
        padding: 0 0 0 10px; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header_right {
    justify-content: flex-end;
    flex: none;
    flex-direction: column-reverse; } }

.slider-hero {
  position: relative; }
  .slider-hero #slider {
    position: relative;
    width: 100%;
    height: 550px; }
    .slider-hero #slider .slide {
      position: absolute;
      height: 100%;
      width: 100%;
      display: none; }
      .slider-hero #slider .slide img {
        width: 100%;
        max-height: 550px; }
    .slider-hero #slider .slide.active {
      display: block; }
  .slider-hero .wrapper.slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .slider-hero .wrapper.slider-wrapper .slider-hero_box {
      padding: 15px;
      margin-left: 50px;
      color: #fff; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_box h1 {
        font-size: 50px;
        padding-bottom: 25px; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_box p {
        font-size: 24px;
        padding-bottom: 25px; }
        .slider-hero .wrapper.slider-wrapper .slider-hero_box p sup {
          font-size: 11px; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_box button {
        padding: 15px 20px;
        outline: none;
        border: none;
        background-color: #002f9d;
        color: #fff;
        font-weight: bold;
        font-size: 24px; }
    .slider-hero .wrapper.slider-wrapper .slider-hero_arrows {
      display: flex;
      align-items: center;
      padding: 10px; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_arrows #left-arrow,
      .slider-hero .wrapper.slider-wrapper .slider-hero_arrows #right-arrow {
        padding: 15px;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px; }
      .slider-hero .wrapper.slider-wrapper .slider-hero_arrows #left-arrow .vega-arrowslider_rotate {
        transform: rotate(180deg); }
      .slider-hero .wrapper.slider-wrapper .slider-hero_arrows #right-arrow {
        margin-left: 10px; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .slider-hero #slider {
    position: relative;
    width: 100%;
    height: 450px; }
    .slider-hero #slider .slide img {
      width: 100%;
      height: 100%; }
  .slider-hero .slider-hero_arrows {
    align-self: flex-end;
    padding: 10px; }
  .slider-hero .wrapper.slider-wrapper .slider-hero_box h1 {
    font-size: 25px; } }

.usp-box {
  background-color: #fff;
  padding: 60px 0; }

.usp-box_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .usp-box_top h3 {
    font-size: 20px;
    color: #bdbdbd;
    padding-bottom: 20px;
    text-transform: uppercase; }
  .usp-box_top h1 {
    font-size: 40px;
    color: #002f9d;
    padding-bottom: 20px; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .usp-box_top h1 {
    text-align: center; } }

.usp-flex_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.box {
  flex: 0 0 40%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 10px;
  margin: 10px; }
  .box .box-svg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; }
    .box .box-svg .icon-cabin,
    .box .box-svg .icon-seat,
    .box .box-svg .icon-smile,
    .box .box-svg .icon-shoe {
      fill: #002f9d;
      stroke: #002f9d; }
    .box .box-svg .icon-cabin,
    .box .box-svg .icon-shoe,
    .box .box-svg .icon-seat {
      fill: #fff; }
    .box .box-svg .bg-ellipse {
      position: absolute;
      top: 0; }
  .box .box-text {
    padding-left: 30px; }
    .box .box-text h4 {
      color: #000;
      font-size: 20px;
      padding-bottom: 20px; }
    .box .box-text p {
      color: #222; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .usp-flex_wrapper {
    flex-direction: column; } }

.offers-box {
  display: flex;
  flex-direction: column;
  background-color: #002f9d;
  padding: 64px 0; }
  .offers-box h4 {
    color: #fff;
    font-size: 20px;
    padding-bottom: 30px; }

.offers-box_gallery {
  display: flex;
  flex-flow: row wrap; }
  .offers-box_gallery .box_gallery {
    flex: calc(25% - 60px);
    background-color: #fff;
    margin-right: 15px;
    display: flex;
    flex-direction: column; }
    .offers-box_gallery .box_gallery .box_gallery-img {
      display: flex;
      height: 50%;
      position: relative;
      z-index: 2; }
      .offers-box_gallery .box_gallery .box_gallery-img img {
        width: 100%;
        height: auto; }
      .offers-box_gallery .box_gallery .box_gallery-img .box-ribbon {
        position: absolute;
        background: #ffed28;
        padding: 5px;
        top: 10px;
        left: -20px;
        z-index: 3;
        color: #31528c;
        font-size: 20px; }
        .offers-box_gallery .box_gallery .box_gallery-img .box-ribbon::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          border-bottom: solid 15px transparent;
          border-right: solid 20px #ffed28; }
    .offers-box_gallery .box_gallery .box_gallery-text {
      padding: 20px;
      font-size: 20px; }
      .offers-box_gallery .box_gallery .box_gallery-text h3 {
        color: #002f9d;
        padding-bottom: 10px; }
      .offers-box_gallery .box_gallery .box_gallery-text p {
        color: #bdbdbd;
        padding-bottom: 10px; }
      .offers-box_gallery .box_gallery .box_gallery-text a {
        text-decoration: none;
        display: flex;
        color: #002f9d;
        align-items: center; }
        .offers-box_gallery .box_gallery .box_gallery-text a span {
          padding-right: 10px; }

.inspiration {
  background-color: #fff;
  padding: 55px 0;
  display: flex;
  font-size: 20px;
  color: #002f9d; }
  .inspiration h3 strong {
    font-weight: 600;
    background-image: linear-gradient(to right, #002f9d 80%, rgba(49, 17, 190, 0) 0%);
    background-position: bottom;
    background-size: 43px 3px;
    background-repeat: repeat-x;
    padding: 0 0 10px 0; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .offers-box_gallery {
    flex-direction: column; } }

.classes-box {
  background-color: #021f59;
  padding: 15px 0;
  color: #fff; }

.classes-box_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .classes-box_top h3 {
    font-size: 16px;
    color: #e4e6ea;
    padding: 0 0 15px 0; }
  .classes-box_top h1 {
    font-size: 50px;
    color: #38bdff;
    padding: 0 0 20px 0; }
  .classes-box_top p {
    font-size: 20px;
    color: #fff;
    padding: 0 0 30px 0; }

.classes-box_services {
  color: #fff;
  display: flex;
  flex-flow: column wrap; }
  .classes-box_services a {
    display: block;
    align-self: flex-end;
    color: #32aeef;
    padding: 15px 0; }
    .classes-box_services a strong {
      font-weight: 600;
      background-image: linear-gradient(to right, #021f59 50%, #38bdff 0%);
      background-position: bottom;
      background-size: 34px 2px;
      background-repeat: repeat-x;
      padding: 0 0 10px 0; }
  .classes-box_services .service-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    background: #fff; }
    .classes-box_services .service-content .service-box {
      flex: 32%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: end; }
      .classes-box_services .service-content .service-box ul.service-box_flex {
        justify-content: flex-start;
        display: flex;
        align-items: flex-start;
        flex-direction: column; }
        .classes-box_services .service-content .service-box ul.service-box_flex li a img {
          width: auto;
          height: auto;
          border-radius: 0; }
      .classes-box_services .service-content .service-box .service-box_active {
        color: #002f9d;
        background-color: #fff;
        width: 100%;
        text-align: center;
        border-top: 3px solid #32aeef;
        padding: 10px; }
      .classes-box_services .service-content .service-box h2 {
        padding: 10px;
        background-color: #f5f5f5;
        width: 100%; }
      .classes-box_services .service-content .service-box li a {
        display: flex;
        justify-content: center; }
        .classes-box_services .service-content .service-box li a img {
          width: 60%;
          border-radius: 50%;
          height: 200px; }
        .classes-box_services .service-content .service-box li a span,
        .classes-box_services .service-content .service-box li a p {
          padding-left: 10px; }
      .classes-box_services .service-content .service-box a {
        display: flex;
        justify-content: center;
        align-items: center; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .classes-box_services a {
    align-self: center; }
  .classes-box_services .service-content {
    flex-direction: column; }
    .classes-box_services .service-content .service-box {
      width: 100%; }
      .classes-box_services .service-content .service-box ul li a img {
        height: 240px;
        width: 50%; } }

.footer_flex {
  background-color: #002f9d; }

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; }
  .footer-top .footer-top_left {
    display: flex;
    align-items: center; }
    .footer-top .footer-top_left p {
      padding: 10px;
      color: #fff; }
  .footer-top .footer-top_right {
    display: flex;
    align-items: center;
    color: #fff; }
    .footer-top .footer-top_right ul {
      padding: 5px;
      display: flex;
      align-items: center; }
      .footer-top .footer-top_right ul a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 55px;
        margin: 5px;
        border: 1px solid #bdbdbd; }
        .footer-top .footer-top_right ul a picture {
          display: flex;
          align-items: center;
          justify-content: center; }
          .footer-top .footer-top_right ul a picture img {
            max-width: 100%;
            height: auto; }

.input-box {
  background: #002f9d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff; }
  .input-box input[type="email"] {
    padding: 10px 10px 10px 0;
    border: none;
    outline: none;
    background-color: #002f9d; }
  .input-box a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff; }
    .input-box a span {
      padding-right: 10px; }

.footer-bottom_content {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .footer-bottom_content ul {
    display: flex;
    align-items: center; }
    .footer-bottom_content ul a {
      display: block;
      padding: 10px 10px 10px 0; }
      .footer-bottom_content ul a img {
        max-width: 100%; }
  .footer-bottom_content .footer-bottom_right {
    display: flex; }

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer-top {
    flex-direction: column; }
    .footer-top .footer-top_right {
      background-color: #38bdff; }
      .footer-top .footer-top_right ul li a {
        height: 60px;
        width: 60px; }
  .footer-bottom_content {
    flex-direction: column; } }
