/* ----------------- Libraries
----------------------------------------------------------------------- */
@import "config/reset";
@import "config/variables";
/* ----------------- Helpers
----------------------------------------------------------------------- */
@import "helpers/mixins";
@import "helpers/helpers";
@import "helpers/ie";
/* ----------------- Base
----------------------------------------------------------------------- */
@import "base/layout";
@import "base/typography";
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
@import "layout/buttons";
@import "layout/forms";
@import "layout/icons";
/* ----------------- Partials
----------------------------------------------------------------------- */
@import "partials/footer";
@import "partials/header";
/* ----------------- scss main
----------------------------------------------------------------------- */

body, html {
  font-family: sans-serif;
}

.slider-hero {
  position: relative;

  #slider {
    position: relative;
    width: 100%;
    height: 550px;
 
    .slide {
      position: absolute;
      height: 100%;
      width: 100%;
      display: none;
      img {
        width: 100%;
        max-height: 550px;
      }
    }

    .slide.active {
      display: block;
    }

  }

  .wrapper.slider-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .slider-hero_box {
      padding-left: 165px;
      color: $bg-white;
      margin-top: -25px;

      h1 {
        font-size: 50px;
      }

      p {
        font-size: 24px;
        padding-bottom: 10px;
        sup {
          font-size: 11px;
        }
      }

      button {
        padding: 15px 29px;
        outline: none;
        border: none;
        background-color: $blue1;
        color: $bg-white;
        font-weight: bold;
        font-size: 24px;
      }
    }
    
    .slider-hero_arrows {     
      display: flex;
      align-items: center;
      padding: 0 60px 20px 0px;
      
      #left-arrow,
      #right-arrow {
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid $bg-white;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #left-arrow {
        transform: rotate(270deg);     
      }
      #right-arrow {
        margin-left: 10px;
        transform: rotate(-270deg);
      }
    }
  }
}

// resposive mobile
@include breakpoint (mobile) {
  .slider-hero {

    .slider-wrapper {
      .slider-hero_box {
        padding-left: 50px !important;
      }
    }

    #slider {
      position: relative;
      width: 100%;
      height: 450px;

      .slide {
        img {
          width: 100%;
          height: 100%;         
        }
      }
    }

    .wrapper.slider-wrapper {
      align-items: flex-start;

      .slider-hero_arrows {
        align-self: flex-end;
        padding: 0 21px 20px 0px;
      }

      .slider-hero_box {
        margin-top: 50px;
        h1 {
          font-size: 40px;
          font-weight: 400;
        }
      }
    }

  }
}

//
.usp-box {
  background-color: $bg-white;
  padding: 60px 0 32px 0;
}

.usp-box_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h3 {
    font-size: 16px;
    color: #bdbdbd;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  h1 {
    font-size: 50px;
    color: $blue1;
    padding-bottom: 47px;
  }
}

// resposive mobile
@include breakpoint (mobile) {

  .usp-box_top {

    h3 {
      color: #666666;
      font-size: 24px;
      font-weight: 400;
    }
    h1 {
      text-align: center;
    }   
  }
}

.usp-flex_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.box {
  flex: 0 0 40%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 10px;
  margin: 10px;

  .box-svg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .icon-cabin,
    .icon-seat,
    .icon-smile,
    .icon-shoe {
      fill: $blue1;
      stroke: $blue1;
    }

    .icon-cabin,
    .icon-shoe,
    .icon-seat {
      fill: $bg-white;
    }

    .bg-ellipse {
      position: absolute;
      top: 0;
    }
  }

  .box-svg_right {
    margin: 0 0 30px -35px;
  }

 .box-svg_left {
    margin: 0 0 30px 15px;
  }

  .box-text_left {
    padding-left: 45px;
  }
  
  .box-text_right {
    padding-left: 35px;
  }

  .box-text_left,
  .box-text_right {

    h4 {
      color: $blue4;
      font-size: 24px;
      padding-bottom: 20px;
    }

    p {
      color: $blue4;
      font-size: 18px;
    }
  }
}

// resposive tablet
@include breakpoint (tablet) {
  .usp-flex_wrapper {
    .box {
      flex: 0 0 45%;
    }
  }
}

// resposive mobile
@include breakpoint (mobile) {

  .usp-flex_wrapper {
    flex-direction: column;

    .box {
      align-items: flex-start;
      .box-svg_left,
      .box-text_left,
      .box-svg_right,
      .box-text_right {
        margin: 0;
      }

      .box-text {
        h4 {
          font-size: 34px;
          color: $blue1;
        }
        p {
          font-size: 26px;
          color: $blue1;
        }
      }
    }
  }

}

// offers start
.offers-box {
  display: flex;
  flex-direction: column;
  background-color: $blue1;
  padding: 38px 0 0 0;

  h4 {
    color: $bg-white;
    font-size: 20px;
    padding-bottom: 28px;
  }
}

.offers-box_gallery {
  display: flex;
  flex-flow: row wrap;

  .box_gallery {
    flex: calc(25% - 60px);
    background-color: $bg-white;
    margin: 0 15px 25px 0;
    display: flex;
    flex-direction: column;

    .box_gallery-img {
      display: flex;
      height: 50%;

      position: relative;
      z-index: 2;

      img {
        width: 100%;
        height: auto;
      }

      // ribbon box
      .box-ribbon {
        position: absolute;
        background: $ribbon-color;
        padding: 5px;
        top: 10px;
        left: -20px;
        z-index: 3;
        color: $blue3;
        font-size: 20px;

        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          border-bottom: solid 15px transparent;
          border-right: solid 20px $ribbon-color;
        }

        h2.box-ribbon_text {
          font-size: 20px;
        }
      }
    }


    .box_gallery-text {
      padding: 15px 0 0 50px;
      font-size: 20px;

      h3 {
        color: $blue4;
        padding-bottom: 10px;
      }

      p {
        color: $blue4;
        padding-bottom: 10px;
      }

      a {
        text-decoration: none;
        display: flex;
        color: $blue1;
        align-items: center;
        font-size: 25px;
        font-weight: 600;

        span {
          padding-right: 10px;
        }
      }
    }
  }
}

// offers box responsive tablet
@include breakpoint (tablet) {

  .offers-box_gallery {
    .box_gallery {
      flex: calc(50% - 60px);
      margin: 0 25px 25px 25px;
  
      .box_gallery-img {
        height: 50vh;
        width: 100%;
      }

      .box_gallery-text {
        padding: 16px 0 0 10px;
        font-size: 20px;

        p {
          padding-bottom: 30px;
        }

        a {
          padding-bottom: 20px;
        }
      }
    }
    .box_gallery:nth-child(even) {
      margin-left: 0;
    }
  }
}

// offers box responsive mobile
@include breakpoint (mobile) {
  .offers-box {
    h4 {
      font-size: 60px;
      text-align: center;
      font-weight: 400;
    }
  }

  .offers-box_gallery {
    flex-direction: column;
  
    .box_gallery {
      margin: 0 25px 20px 25px;

      .box_gallery-img {
        height: 100%;
        height: 50vh;
        .box-ribbon {
          h2.box-ribbon_text {
            font-size: 36px;
            font-weight: 400;
          }       
        }
      }

      .box_gallery-text {
        padding: 35px 0 0 15px;     
        h3, 
        p {
          font-size: 48px;
          font-weight: 400; 
          color: $blue4;
        }
        p {
          padding-bottom: 60px;
        }
        a {
          font-size: 50px;
          font-weight: 400;
          padding-bottom: 40px;

          span {
            padding-right: 70px;
          }
        }
      }
    }
  }
  
}

// resposive mobile
@include breakpoint (mobile) {
  .inspiration {
    h3 {
      font-size: 32px;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      strong {
        padding-top: 40px !important;
      }
    }
  }
}

//
.inspiration {
  background-color: $bg-white;
  padding: 50px 0 40px 0;
  display: flex;
  color: $blue1;
  
  h3 {
    font-size: 32px;
    font-weight: 400;
    strong {
      font-weight: 600;
      background-image: linear-gradient(to right, $blue1 80%, rgba(49, 17, 190, 0) 0%);
      background-position: bottom;
      background-size: 43px 3px;
      background-repeat: repeat-x;
      padding: 0 0 3px 0;
    }
  }
}


//
.classes-box {
  background-color: $blue4;
  padding: 78px 0 0 0;
  color: $bg-white;
}

.classes-box_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  h3 {
    font-size: 16px;
    color: #e4e6ea;
    padding: 0 0 15px 0;
  }

  h1 {
    font-size: 50px;
    color: $blue5;
    padding: 0 0 20px 0;
  }

  p {
    font-size: 20px;
    color: $bg-white;
    padding: 0 0 48px 0;
  }
}

.classes-box_services {
  color: $bg-white;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 35px;

  a {
    display: block;
    align-self: flex-end;
    color: $blue5;
    padding: 15px 0;

    //
    strong {
      font-weight: 600;
      background-image: linear-gradient(to right, $blue4 50%, rgb(56, 189, 255) 0%);
      background-position: bottom;
      background-size: 34px 2px;
      background-repeat: repeat-x;
      padding: 0 0 10px 0;
    }
  }

  .service-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    background: $bg-white;
    padding: 0 0 87px 0;


    // tabs
    .service-tabs {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      background-color: #f0f0f0;

      .service-tabs_tab {
        flex: 1;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        padding: 32px 0 40px 0;

        h2 {
          color: rgb(171, 182, 191);
          font-size: 33px;
        }

      }

      .service-tabs_tab.active {
        background-color: $bg-white;
        width: 100%;
        border-top: 5px solid $blue2;
        h2 {
          color: $blue3;
        }
      }
    
    }

    .service-box {
      display: none;
      width: 100%;
      .service-box_content {
        background-color: $bg-white;
        display: flex;
        flex-flow: row wrap;
        flex: 1;
        width: 100%;

        .service-box-header_mobile {
          display: none;
        }

        ul.service-box_flex {
          justify-content: center;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          flex: 1;
          .circle-img {
            border-radius: 50%;
            height: 200px;
            width: 200px;
          }
        }

        ul.service-box_img {
          align-items: center;
          a {
            .circle-img {
              border-radius: 50%;
              height: 200px;
              width: 200px;
            }
            img {
              height: auto;
              width: auto;
            }
          }
        }
      }

      li {

        a {
          span,
          p {
            font-size: 16px;
            padding-left: 10px;
            color: #e5e5e5;
          }

          span {
            color: $blue4;
          }

        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

    }

    .active {
      display: flex;
    }

  }
}

// resposive tablet
@include breakpoint (tablet) {

  .classes-box_top p {
    padding: 0 30px 48px 30px;
}

  .classes-box_services {
    a {
      padding: 15px 20px;
    }
  }

}

// resposive mobile
@include breakpoint (mobile) {
  
  .service-tabs {
    display: none !important;
  }

  .classes-box_services {

     a {
      align-self: center;
    }

    .service-content {
      flex-direction: column;

      .service-box {
        display: flex !important;
        width: 100%;

        .service-box_content {
          flex-direction: column;

          .service-box-header_mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
            color: $blue1;
          }

          .service-box_img {
            padding: 0 !important;
          }

          .service-box_flex {
            flex-direction: column;
            padding: 0 0 0 50px;
            li {
              a {
                img {
                  height: auto;
                  width: auto;
                }
              }
            }
          }
        }

      }
    }
  }

}




