/* ----------------- Variables
----------------------------------------------------------------------- */ 
$blue1: #002f9d;
$blue4: #021f59;
$blue2: #32aeef;
$blue5: #38bdff;
$blue3: #31528c;

$ribbon-color:#ffed28;

$bg-white: #fff;
$border-color: #a8a2a2;
$border-color-mobile: #e5e7e9;
