/* ----------------- footer
----------------------------------------------------------------------- */

// footer
footer.footer {
    border-bottom: 10px solid $blue2;
  }
  
  .footer_flex {
    background-color: $blue1;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0 34px 0;
  
    .footer-top_left {
      display: flex;
      align-items: center;
      flex: 1;
      padding-left: 48px;
  
      p {
          color: $bg-white;
          font-size: 24px;
          padding: 0px 105px 0 21px;
      }
    }
  
    //
    .footer-top_right {
      display: flex;
      align-items: center;
      color: $bg-white;
      padding-right: 60px;

      h2 {
          padding-right: 3px;
      }
  
      ul {
        padding: 0;
        display: flex;
        align-items: center;
  
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          text-align: center;
          line-height: 55px;
          margin: 0 0 0 10px;
          border: 1px solid #bdbdbd;
  
          picture {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              max-width: 100%;
              height: auto;
            }
          }
  
        }
      }
    }
  
  }
  
  .input-box {
    background: $blue1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid $bg-white;
    width: 40%;
  
    input[type="email"] {
      padding: 10px 10px 12px 0;
      border: none;
      outline: none;
      background-color: $blue1;
      font-size: 18px;
    }
  
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: $bg-white;
  
      span {
        padding-right: 10px;
      }
    }
  
  }
  
  //
  .footer-bottom_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 20px 0;
    position: relative;
  
    ul {
      display: flex;
      align-items: center;
      padding: 0 0 0 58px;
      a {
        display: block;
        padding: 10px 26px 10px 0;

        .pay-icon {
          fill: #abb6bf;
        }

      }
    }
  
    .footer-bottom_right {
      display: flex;
      padding-right: 16px;
      font-size: 16px;
      h4 {
          padding-left: 17px;
      }
    }
  }

  // resposive tablet
  @include breakpoint (tablet) {
    .footer-top {
      flex-direction: column;
      background-color: $bg-white;
      flex-flow: column wrap;
      padding: 0;

      .footer-top_left {
        color: $bg-white;
        background-color: $blue1;
        order: 0;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;

        p {
          color: $bg-white;
          padding: 0;
        }

        .input-box {
          width: 100%;
          flex-direction: column;
          border-bottom: none;

          input[type="email"] {
            border-bottom: 2px solid $bg-white;
            width: 80%;
            margin-bottom: 10px;
          }    
          
          a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: $blue1;
            padding: 10px 90px;
            background: $bg-white;
          }
        }

      }

      .footer-top_right {
        flex-direction: column;
        align-items: center;
        color: #222;
        width: 100%;
        background-color: $bg-white;
        justify-content: center;
        padding: 10px 0;

        h2 {
          color: $blue1;
          padding: 0 0 10px 0;
        }
      }
    }

    .footer-bottom_content {
      justify-content: center;
      flex-direction: column;
      padding: 10px 0 10px 0;
      ul {
        padding: 0 0 0 0;

        a {     
          .pay-icon {
            fill: #abb6bf;
            width: 58px;
            height: 80px;
          }
        }
      }

      .footer-bottom_right {
        padding: 0;
      }
    }
  }
  
  // resposive mobile
  @include breakpoint (mobile) {
    .footer-top {
      flex-flow: column wrap;
      padding: 37px 0 0 0;
  
      .footer-top_left {
        flex-direction: column;
        flex: 100%;
        padding: 25px 0;
        width: 100%;
  
        .input-box {
          border-bottom: none;
          flex-direction: column;
          width: 100%;
  
          input[type="email"] {
            width: 80%;
            border-bottom: 2px solid $bg-white;
          }
  
          a {
            padding: 10px 50px;
            color: $blue1;
            margin: 10px 0 0 0;
            font-weight: 700;
            background-color: $bg-white;
            display: flex;
            width: 80%;
            align-items: center;
            justify-content: center;

          }
        }
      }
  
      .footer-top_right {
        background: $bg-white;
        flex: 100%;
        color: $blue1;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-right: 0;
        
        h2 {
          color: $blue1;
          padding: 15px 0 0 0;
        }
  
        ul {
          padding: 10px 0;
          li {
            a {
              height: 80px;
              width: 80px;
            }
          }
        }
      }
  
  
    }
  
    .footer-bottom_content {
      flex-direction: column;
      padding: 20px 0 20px 0;

      ul {
        li {
          a {     
            .pay-icon {
              fill: #abb6bf;
              width: 77px;
              height: 100px;
            }
          }
        }
      }
    }
  }

